
<div class="row">
    <div class="cold-md-3">
        @await Component.InvokeAsync("ParkingList")
      
    </div>
    <div class="cold-md-9">
        @await Component.InvokeAsync("CarList")
    </div>

</div>
   


