@model List<Parking>


<div class="list-group">
   
    @foreach (var parking in Model)
    {
        <a href="#" class="list-group-item list-group-item-action ">
            @parking.Section
        </a>
    }

</div>